﻿@model Event
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="row">
                    <form asp-controller="Event" asp-action="AddEvent" method="post" class="form-horizontal" role="form">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="col-md-10">
                                    <label asp-for="Title"></label>
                                    <input asp-for="Title" class="form-control" name="Title"/>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label asp-for="Description"></label>
                                    <input asp-for="Description" class="form-control" name="Description" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-10">
                                    <label asp-for="eTime"></label>
                                    <input asp-for="eTime" type="date" class="form-control datepicker" >
                                </div>
                            </div>

                          

                         

                          
                            <div class="form-group" style="position:absolute;  margin-top:-50px; margin-left:535px;">
                                <div class="col-md-10">
                                    <input type="submit" name="Buton" value="Add Event" style="color: #ffffff; background: #1b4a85; padding: 10px 20px 10px 20px;text-decoration: none;" />
                                </div>
                            </div>

                        </div>
                        
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>