﻿@model List<Library>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Styles -->
<link  href="/assets/plugins/gridgallery/css/component.css" rel="stylesheet" type="text/css" />


<html>
<body>


<div class="page-inner">
    <div id="main-wrapper" class="container">
        <a href="~/Home/Library" class="myLibAddButton">Add Library</a>
        
        <div class="row">
            <div class="col-md-pull-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="grid-gallery" class="grid-gallery">
                            <section class="grid-wrap">
                                <form asp-controller="Home" asp-action="LibDetails" method="get">
                                    <p>
                                        <input type="text" name="searchString" />
                                        <input type="submit" value="Search" />
                                    </p>
                                </form> 
                                <ul class="grid">
                                    <li class="grid-sizer"></li>
                                    @foreach (var a in Model)
                                    {
                                    <li>
                                        <figure><a asp-controller="Home" asp-action="Libdetails" asp-route-tofiqId="@a.LibraryId" ><img src="~/assets/images/gallery/Library.png" alt="img01" height="288" width="201" /> </a>
                                          
                                            <figcaption>

                                                <h3>@a.LibraryName</h3> 
                                                <h4>@a.Items.Count Items</h4>
                                            </figcaption>
                                        </figure>
                                    </li>                                                               
                                    }
                                </ul>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
    </div>
    
    </body>

</html>

