@model List<Item>

@{
    ViewData["Title"] = "ItemDet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">

                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="product-image" style="width:500px; height:500px">
                        <img src="~/Content/img/book.png" alt="...">
                    </div>

                </div>
              @foreach (var a in Model)
              {



                <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5; margin-left:-300px;">

                    <p style="font-size:35px;">@a.Title</p>
                    <h1 class="prod_title"></h1>

                    <p>@a.Description</p>
                    <br>


                    <br>

                    <div class="">
                        <h2>Tag</h2>
                        <ul class="list-inline prod_size">
                            <li>
                                <button type="button" class="btn btn-default btn-xs">Small</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default btn-xs">Medium</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default btn-xs">Large</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default btn-xs">Xtra-Large</button>
                            </li>
                        </ul>
                    </div>
                    <br>



                    <div class="">
                        <button type="button" class="btn btn-default btn-lg">Take an Item</button>
                        <button type="button" class="btn btn-default btn-lg">Add to Wishlist</button>
                    </div>

                    

                </div>

              }

            </div>
        </div>
    </div>
</div>