@model ItemViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="row">
                    <form asp-controller="Home" asp-action="Item" method="post" class="form-horizontal" role="form">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="col-md-10">
                                    <label asp-for="Title"></label>
                                    <input asp-for="Title" class="form-control" name="Title" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label asp-for="Author"></label>
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label asp-for="Description"></label>
                                   <input asp-for="Description" class="from-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-10">
                                    <label>Published Date</label>
                                    <input type="date" class="form-control datepicker" asp-for="PublishedDate" >
                                </div>
                            </div>




                            <div class="form-group">
                                <div class="col-md-10">
                                    <label asp-for="ISBN"></label>
                                    <input asp-for="ISBN" class="form-control" />
                                    <span asp-validation-for="ISBN" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-md-10">

                                    <label asp-for="Pages"></label>
                                    <input asp-for="Pages" class="form-control" style="width:70px;" />


                                </div>

                            </div>

                            <div class="form-group" style="position:absolute;  margin-top:-69px; margin-left:200px;">
                                <div class="col-md-10">
                                    <label asp-for="Publisher"></label>
                                    <input asp-for="Publisher" class="form-control" style="width:200px;" />
                                </div>
                            </div>
                            <div class="form-group" style="position:absolute;  margin-top:-50px; margin-left:535px;">
                                <div class="col-md-10">
                                    <input type="submit" name="Buton" value="Add Book" style="color: #ffffff; background: #1b4a85; padding: 10px 20px 10px 20px;text-decoration: none;" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">


                            <div class="form-group">
                                <label>Library Type</label>
                                @Html.DropDownList("LibraryId", ViewBag.Libraries as SelectList, new { @class = "form-control" })
                                <span asp-validation-for="LibraryId" class="text-danger"></span>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>