﻿@model List<Item>


@{
    ViewBag.Title = "ItemPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Styles -->
<link href="/assets/plugins/gridgallery/css/component.css" rel="stylesheet" type="text/css" />


<html>
<body>


    <div class="page-inner">
        <div id="main-wrapper" class="container">
            <div class="row">
                <div class="col-md-pull-12">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div id="grid-gallery" class="grid-gallery">
                                <section class="grid-wrap">
                                    <ul class="grid">
                                        <li class="grid-sizer"></li>
                                        @foreach (var a in Model)
                                        {
                                            <li>                                                 
                                                        <h2>Title: @a.Title</h2>
                                                        <h4>Author: @a.Author</h4>
                                                
                                                <form asp-controller="Home" asp-action="TakeItem"  method="post"  enctype="multipart/form-data">
                                                <button  id="clickChange">Take Item</button>
                                                    <div id="kakos">@a.Status</div>
                                                    <input type="hidden" name="ItId" value="@a.ItemId" />
                                                    <input type="hidden" name="Status" id="kakos" value="@a.Status" />

                                                </form>
                                           </li>
                                        }
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>

</body>

</html>
