﻿@model List<Item>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Styles -->
<link href="/assets/plugins/gridgallery/css/component.css" rel="stylesheet" type="text/css" />


<html>
<body>


    <div class="page-inner">
        <div id="main-wrapper" class="container">
            <div class="row">
                <div class="col-md-pull-12">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div id="grid-gallery" class="grid-gallery">
                                <section class="grid-wrap">
                                    
                                    <form asp-controller="Home" asp-action="LibDetails" method="get">        
                                        <p>
                                            <input type="text" name="searchString" />
                                            <input type="submit" value="Search" />
                                        </p>                               
                                    </form> 
                                    <ul class="grid">
                                        <li class="grid-sizer"></li>
                                        @foreach (var a in Model)
                                        {
                                            <li>

                                                <figure>
                                                    <img src="~/Content/img/book.png" alt="img01" height="288" width="201" />

                                                    <figcaption>
                                                        <h2>Title: @a.Title</h2>
                                                        <h4>Author: @a.Author</h4>
                                                        <h4>ISBN: @a.ISBN</h4>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        }
                                    </ul>
                                    <div style="float:left;">
                                        <a asp-controller="Home" asp-action="Item">
                                            <figure>
                                                <img src="~/Content/img/plus.png" alt="img01" height="256" width="256" />


                                            </figure>
                                        </a>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>

</body>

</html>
