@model Library
@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/assets/plugins/gridgallery/css/AddLibForm.css" rel="stylesheet" />
<form asp-controller="Home" asp-action="Library" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <ul class="form-style-1">
        <li>
            <label asp-for="LibraryName">Library Name <span class="required">*</span></label>
        
            <input asp-for="LibraryName" placeholder="For example: Developer's Library" class="field-divided" name="LibraryName" field-divided/>
        </li>
        <li>
            <label asp-for="LibraryType">Library Type <span class="required">*</span></label>
            <select asp-for="LibraryType" name="LibraryType" class="field-select">
                <option value="Physical">Physical</option>
                <option value="Digital">Digital</option>

            </select>
        </li>
        <li>
            <label>Subject</label>
            <select name="field4" class="field-select">
                <option value="Advertise">Program Languages</option>
                <option value="Partnership">Databases</option>
                <option value="General Question">General</option>
            </select>
        </li>       
        <li>
            <input type="submit" value="Submit" />
        </li>
    </ul>
</form>

