﻿@model Register

@{
    ViewData["Title"] = "Register";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/css/animate.min.css" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="/Content/css/custom.css" rel="stylesheet">
    <link href="/Content/css/icheck/flat/green.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>

</head>
<body style="background:#F7F7F7;">
    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div class="animate form">
                <section class="login_content">
                    <div style="background: url(/Content/img/gtslogo.png); height: 125px; width:125px; position:absolute; top: 0px;  left: -162px;"></div>

                    <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                        <h4>Create a new account.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <div class="col-md-20">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-20">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                            <div class="col-md-20">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div>

                            <p class="change_link">
                                Already a member ?
                                <a asp-controller="account" asp-action="login" class="to_register"> Log in </a>
                            </p>

                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <br />
                            <div>
                                <h1><i class="fa fa-paw" style="font-size: 26px;"></i>BIG GUY IS BACK TO TOWN</h1>
                                <p>©2016 All Rights Reserved. GTSolutions. Agilli olun!</p>
                            </div>
                        </div>

                    </form>
                </section>

            </div>
        </div>
    </div>

</body>
</html>